@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    sans-serif;
}

.theme-dark {
  background: linear-gradient(to bottom, #020617, #0f172a, #000000);
  color: white;
  min-height: 100vh;
}

.theme-light {
  background: linear-gradient(to bottom, #f8fafc, #e2e8f0, #ffffff);
  color: #020617;
  min-height: 100vh;
}

.theme-light input,
.theme-light textarea,
.theme-light select {
  color: #020617;
}

.theme-light ::placeholder {
  color: #64748b;
}